body {
  background-color: white;
  color: darkslategray;
  font: 400 10pt/1.4 'Helvetica Neue', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  height: 500px;
  margin: 0;
  padding: 1em;
  text-rendering: optimizeLegibility;
  width: 500px;
}
body * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
header {
  background-color: white;
  box-shadow: 0 0 9px gray;
  display: block;
  left: 0;
  padding: 1em;
  position: fixed;
  top: 0;
  width: 100%;
}
header h1 {
  font-size: 1.4em;
  margin: 0;
}
header + div {
  margin-top: 5.5em;
}
article + article {
  margin-top: 3em;
}
article h3 {
  letter-spacing: 0.015em;
}

blockquote {
  margin: 1em;
  padding: 0;
}

blockquote > :first-child {
  border-left: 3px solid silver;
  padding-left: 1.5em;
}

blockquote > :last-child {
  color: darkseagreen;
}

blockquote a,
blockquote a:link,
blockquote a:visited {
  color: teal;
}
blockquote a:hover {
  color: darkslategrey;
  text-decoration: underline;
  cursor: pointer;
}

button {
  background-color: teal;
  border: none;
  border-radius: 2px;
  color: white;
  font-weight: 500;
  margin: 2px;
  padding: 0.5em;
}
button:hover {
  background-color: darkslategrey;
}
button:active {
  background-color: darkgreen;
}
.delete {
  background-color: tomato;
}
.delete:hover {
  background-color: brown;
}
.delete:active {
  background-color: darkred;
}
