body {
  background-color: white;
  color: darkslategray;
  font: normal 10pt/1.4 'Helvetica Neue', Helvetica, sans-serif;
  height: 500px;
  margin: 0;
  padding: 1em;
  width: 500px;
}
header {
  background-color: white;
  box-shadow: 0 0 9px gray;
  display: block;
  left: 0;
  padding: 1em;
  position: fixed;
  top: 0;
  width: 100%;
}
header h1 {
  margin-top: 0;
}
header + div {
  margin-top: 9em;
}
article + article {
  margin-top: 3em;
}
blockquote {
  margin: 1em;
  padding: 0;
}

blockquote > :first-child {
  border-left: 3px solid silver;
  padding-left: 1.5em;
}

blockquote > :last-child {
  color: darkseagreen;
}

blockquote a,
blockquote a:link,
blockquote a:visited {
  color: teal;
}
blockquote a:hover {
  color: seagreen;
}

