<!doctype html>
<html ng-app="APP" ng-csp>
  <head>
    <link href="css/display.css" media="all" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <header>
      <nav ng-controller="NavCtrl" style="float:right;">
        <button class="delete" ng-click="deleteAll()">Delete All</button>
      </nav>
      <h1>Save Selection</h1>
    </header>
    <div class="QuoteCtrl">
      <article ng-repeat="(createdOn, quote) in quotes" data="quote" date="createdOn" ng-controller="ActionsCtrl">
        <button class="delete" ng-click="deleteItem(createdOn)" style="float:right;">Delete</button>
        <button title="Open Source in a new Tab" ng-click="openSavedSelection(createdOn)" style="float:right;">Source</button>
        <button title="Open quote in Gmail" ng-click="emailItem(createdOn)" style="float:right;">Email</button>
        <h3>{{createdOn | date : 'MMM d, y h:mm:ss a'}}</h3>
        <blockquote>
          <p ng-bind-html="quote.$el||quote.text">{{quote.$el || quote.text}}</p>
          <p>via <a ng-href="{{quote.url}}" ng-click="openSavedSelection(createdOn)">{{quote.title}}</button>
        </blockquote>
      </article>
    </div>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/service.js"></script>
    <script src="js/directive.js"></script>
    <script src="js/controller.js"></script>
  </body>
</html>
